Repository brown-ccv/ccv-website, pull requests merged in 2020-01, with the labels that each got.

#169 fix: branches not branch
  .github/workflows/pr-release-comment.yml
  .github/workflows/prcomment.yml
Labels: 2 day wait

#167 FEATURE: Deployment on PR
  Dockerfile
  README.md
  app.json
  content/english/services/rates.md
  package.json
  static.json
  themes/gb-theme/assets/styles/custom/components/_search.scss
  themes/gb-theme/layouts/partials/blocks/quick_links.html
Labels: ready

#170 Fix: clarifications to the rates page
  ._.DS_Store
  .env.example
  .forestry/settings.yml
  .github/CODE_REVIEW/content.md
  .github/CODE_REVIEW/content_2nd.md
  .github/CODE_REVIEW/release.md
  .github/CODE_REVIEW/tech.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/content-update.md
  .github/ISSUE_TEMPLATE/data-update.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/other-issues.md
  .github/pull_request_template.md
  .github/workflows/check-waits.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-release-comment.yml
  .github/workflows/prcomment.yml
  .gitignore
  Dockerfile
  README.md
  app.json
  content/english/services/rates.md
  content/english/workshops/_index.md
  package-lock.json
  package.json
  resources/.gitignore
  resources/_gen/assets/css/styles/vendor/vendor.css_d3f53f09220d597dac26fe7840c31fc9.content
  resources/_gen/assets/css/styles/vendor/vendor.css_d3f53f09220d597dac26fe7840c31fc9.json
  resources/_gen/assets/scss/styles/gb-theme/style.scss_b95b077eb505d5c0aff8055eaced30ad.content
  resources/_gen/assets/scss/styles/gb-theme/style.scss_b95b077eb505d5c0aff8055eaced30ad.json
  static.json
  themes/gb-theme/assets/styles/custom/components/_search.scss
  themes/gb-theme/layouts/partials/blocks/quick_links.html
  themes/gb-theme/layouts/workshops/list.html
Labels: 2 day wait

#175 refactor: 💡 changed description to match documentation
  content/english/services/infrastructure/stronghold.md
Labels: content
